:root {
    --sidebar-width:    15.625rem;
    --container-space:  2.5rem;

    --box-shadow-sm:    0 0.625rem 1.25rem rgba(18,38,63,.03);
    --box-shadow:       0 0.75rem 1.5rem rgba(229,229,229,.6);
    --box-shadow-lg:    0 1rem 3rem rgba($black, .175);
    --box-shadow-inset: inset 0 1px 2px rgba($black, .075);
}

$font-size: 0.813rem;

$border-radius: 0.5rem;
$border-radius-top: 0.5rem 0.5rem 0 0;
$border-radius-left: 0.5rem 0 0 0.5rem;
$border-radius-bottom: 0 0 0.5rem 0.5rem;
$border-radius-right: 0 0.5rem 0.5rem 0;


// Table
$table-border-width: 1px;
$table-border-color: #EFF2F7;
$table-dark-border-color: #495057;
$table-head-color: #495057;
$table-head-bg: white;
