.avatar-xs {
    height: 2.5rem;
    width: 2.5rem;
  }
  
  .avatar-sm {
    height: 3.5rem;
    width: 3.5rem;
  }
  
  .avatar-md {
    height: 4.063rem;
    width: 4.063rem;
  }
  
  .avatar-lg {
    height: 6.5rem;
    width: 6.5rem;
  }
  
  .avatar-xl {
    height: 7.5rem;
    width: 7.5rem;
  }